body {
    color: black
}

.question-area {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: whitesmoke;
    font-size: 3rem;
    min-width: 80rem;
}

.question-area:hover {
    cursor: pointer;
    box-shadow: 0 0.5px 2.5px;
    transition: transform 100ms;
    transform: scale(1);
}

.question-area-option {
    padding: 2rem 2.5rem;
    color: black;

}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(green);
}

.incorrect {
    background: linear-gradient(red);
}


/* Display */

#display {
    display: flex;
    justify-content: space-between;
}

.prefix {
    text-align: center;
    font-size: 2rem;
}

.main-text {
    text-align: center;
}



@media (max-width: 768px) {
    .choice {
        min-width: 40rem;
    }
}
