@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gabriela&family=Lato:wght@300&family=Nunito+Sans:wght@600&display=swap');

body {
    background-image: url("/assets/images/6f9d8aed23a4970c54747b299025ce32.jpg");
    font-size: 16px;
    font-family: "Gabriela", sans-serif;
    line-height: 5%;
    margin: 0;
    padding-top: 5em;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: 100%;
    

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.container {
    background: rgba(0, 0, 0, 0.3);
    margin: 30%;
    text-align: center;
    width: 800px;
    border-radius: 20px;
    margin-top: 0.5%;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.62);
}


h1 {
    color: black;
    font-weight: 300;
    font-size: 2.6em;
    line-height: 1.1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

h2 {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 300;
    font-family: "Gabriela", sans-serif;

}

p {
    margin: .8em 0;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}

.btn--default {
    padding: 10px 100px;
    border: 0;
    border-radius: 0.5em;
    color: black;
    text-transform: uppercase;
    font-size: 0.8;
    font-weight: 400;
    transition: opacity 0.3s;
    background: whitesmoke;
    margin: auto;
    cursor: pointer;
}

.btn--default:hover {
    opacity: 0.75;
}

.btn--default:active {
    opacity: initial;
}

footer {
    border-top: 1px solid white;
    margin-top: 1.3em;
}

footer p {
    font-size: 1em;
    margin-top: 1.3em;
}

