@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gabriela&family=Lato:wght@300&family=Nunito+Sans:wght@600&display=swap');

/*Global Style*/
body {
    font-family: "Gabriela", sans-serif;
    text-align: center;
}

/* Header */
.heading {
    text-align: center;
    font-size: 3rem;
}

.custom-box {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;

}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
}
.custom-box.hide {
    display: none;
    display:table;
}

.home-box {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;

}

.home-box h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;

}

.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: 400;
}

.home-box p span {
    font-weight: 500;

}

.home-box .btn {
    margin-top: 20px;
}


.logo {
    height: 150px;
    padding-right: 1rem;
}



.btn {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5%;
    color: black;
    border-radius: 15px;
    background:silver;
    padding: 15px 45px;
    width: 200px;
    text-decoration: none;
    vertical-align: 150%;
    font-family: "Gabriela", sans-serif;
    cursor: pointer;
    display: inline-block;

}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answer {
    width: 100%;
    float: left;
} 
.quiz-box .question-number {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .question-text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}
.quiz-box .option-container .option{
    color: black;
    background-color: silver;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.quiz-box .btn {
    margin: 15px 0;
    
}

.quiz-box .answer {
    border-top: 1px solid silver;

}
.quiz-box .answer div{
    height: 40px
    widtL 40px;
    display: inline-block;
    background-color: silver;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 12px;
}