@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gabriela&family=Lato:wght@300&family=Nunito+Sans:wght@600&display=swap');

/*Global Style*/
body {
    font-family: "Gabriela", sans-serif;
    text-align: center;
}

/* Header */
.heading {
    text-align: center;
    font-size: 3rem;
}

.custom-box {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;

}

.home-box {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;

}

.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: 400;
}

.home-box p span {
    font-weight: 500;

}

.home-box .btn {
    margin-top: 20px;
}


.logo {
    height: 150px;
    padding-right: 1rem;
}



.btn {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5%;
    color: black;
    border-radius: 15px;
    background:silver;
    padding: 15px 45px;
    width: 200px;
    text-decoration: none;
    vertical-align: 150%;
    font-family: "Gabriela", sans-serif;

}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5px 2.5px;
    transition: transform 150ms;
    transform: scale(1);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.quiz-box .question-number {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .question-text {}
.quiz-box .option-container {}
.quiz-box .answer{}